/*
    BARRA DE DESPLAZAMIENTO
*/

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra */
}

::-webkit-scrollbar-thumb {
    background: #4651a3; /* Color del pulgar de la barra */
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4552b7; /* Color del pulgar al pasar el mouse */
}

/* Para Firefox */
.scrollable {
    scrollbar-width: thin; /* Hace la barra de desplazamiento más delgada */
    scrollbar-color: #4651a3 #f1f1f1; /* Color del pulgar y fondo */
}